#Filterbar, #issuesPane{
    height:100%;
}
body{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#detailsPane {
    max-width:none;
}

.hideTable{
    display:none;
}
.showtable{
    overflow-y:scroll;
    overflow-x: scroll
}

#bottom{
    position:sticky;
    top:85vh;
    z-index: 1049;
}
.items-list{
    cursor: pointer;
}
.fancybox-content{
    padding:0
}

/* .footer{
    position: absolute;
    bottom: 0;
    width: 100%;} */


